:root {
  --stemplayer-js-brand-color: #888;
  --stemplayer-js-color: black;
  --stemplayer-js-background-color: #efefef;
  --stemplayer-js-waveform-color: #555;
  --stemplayer-js-waveform-progress-color: #555;
  --stemplayer-js-progress-background-color: red;
  --stemplayer-js-progress-mix-blend-mode: lighten;
}
